#navigation {
    margin: 0;
    padding-left: 50px;
    clear: both;
    font-family: Arial;
    height: 51px;
    font-weight: bold;
    color: #fff;

    font-size: 16px;
    background: #34495e url(/images/dropdown-bg.gif) repeat-x left top;
}

ul.nav-main,
ul.nav-main li {
    list-style: none;

    font-family: Arial;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 16px;

}

ul.nav-main {
    position: relative;
    z-index: 597;
}

ul.nav-main li:hover > ul {
    visibility: visible;
}

ul.nav-main li.hover,
ul.nav-main li:hover {
    position: relative;
    z-index: 599;
    cursor: pointer;
    background: url(/images/dropdown-list-bg.gif) repeat-x left top;

}

ul.nav-main li {
    float: left;
    display: block;
    height: 51px;
    color: #fff;
    font: 20px Arial;
    font-weight: bold;

    background: url(/images/separator.gif) no-repeat right center;
}

ul.nav-main li a {
    display: block;
    padding: 16px 16px 0 16px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    font: 20px Arial;
    text-decoration: none;
}

ul.nav-main li a:hover {
    color: #1abc9c;
}

ul.nav-main *.list {
    padding-right: 10px;
    background: url(/images/navigation-arrow.gif) no-repeat right top;
    float: right;

}

ul.nav-main *.list p {
    font: 14px Arial;
    font-weight: bold;
    color: #79d5d6;
    text-decoration: underline;
}

ul.nav-main *.list a:hover p {
    color: #2ebc8d;
}

ul.nav-sub {
    visibility: hidden;
    position: absolute;
    padding: 10px;
    top: 48px;
    left: 0;
    z-index: 598;
    background: #353535 url(/images/dropdown-list-bg.gif) repeat-x left top;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

ul.nav-sub li {
    list-style: none;
    display: block;
    padding: 0;
    height: 27px;
    float: none;
    width: 145px;
    border-bottom: 1px solid #5a5a5a;
    background: none;
}

ul.nav-sub li a {
    list-style: none;
    display: block;
    padding: 6px 5px 6px 5px;
    height: 15px;
    float: none;
    width: 145px;
    background: none;
    font: 12px Arial, Helvetica, sans-serif;
}


